.table-container {
    font-size: 13px;
    font-family: "hh sans", "Helvetica Neue", sans-serif;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    color: white;
}

.table-container table {
    margin-top: 25px;
    width: 800px;
    height: auto;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
    border: 10px solid rgba(255, 255, 255, 0.5);
    box-sizing: content-box;
}

.table-header {
    display: flex;
    background: #000;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.table-container .sub-table {
    margin: 0
}

th,
td {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    width: auto;
}

th:nth-child(1),
td:nth-child(1) {
    width: 120px
}

th:nth-child(1) {
    font-size: 22px;
}

thead th {
    background-color: #55608f;
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

tbody td {
    position: relative;
}

tbody td:nth-child(1) {
    text-align: left;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.load-cluster {
    cursor: pointer;
}

.table-row {
    display: flex;
    width: 100%;
    padding: 18px 0;
}